.cart {
  border-radius: 0.5rem;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
}

.cart .fa-times {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: #130f40;
}

.cart .fa-times:hover {
  color: #27ae60;
}

.cart img {
  height: 8rem;
}

.cart .content h3 {
  font-size: 2rem;
  color: #130f40;
}

.cart .content span {
  font-size: 1.5rem;
  color: #666;
}

.cart .content span.price {
  color: #27ae60;
  font-size: 1.7rem;
}

.cart .content input {
  width: 8rem;
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
  color: #130f40;
  margin: 0.7rem 0;
}
