.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}

.content {
  flex: 1 1 41rem;
}

.content span {
  font-size: 2rem;
  color: #27ae60;
}

.content h3 {
  font-size: 4rem;
  color: #130f40;
  padding-top: 1rem;
}

.content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}

.image {
  flex: 1 1 41rem;
  margin: 2rem 0;
  pointer-events: none;
}

.hero-img {
  width: 100%;
  margin-top: 5rem;
}

.hero-parallax-img {
  position: absolute;
  top: -10rem;
  right: -10rem;
  width: 80vw;
}
